@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color:#505962;
}
.offset:before {
    display: block;
    content: "";
    height: 4rem;
    margin-top: 4rem;
}
/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
    padding: 1rem;
  }
  
  /*--- Bootstrap Mobile Gutter Fix --*/
  .row, .container-fluid {
  margin-left: 0px!important;
  margin-right: 0px!important;
  }

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top {
    -webkit-backface-visibility: hidden;
   }

/* navbar css */
.navbar {
    text-transform:uppercase;
    font-weight: 700;
    font-size:.9rem;
    letter-spacing: .1rem;
    background-color: rgba(0,0,0,0.6)!important;
}
.navbar-brand i {
    height: 2rem;
    color: #1ebba3;
}
.navbar-nav li {
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
    color:white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #1ebba3;
}
/* navbar css end */

/* landing page Css */
.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    z-index: -1;
}
.home-wrap {
    clip:rect(0, auto, auto, 0);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.home-inner {
    background-image: url("../img/landing.jpg");
    position: fixed;
    display: table;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
          transform: translateZ(0);
    will-change: transform;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color:white;
    text-transform: uppercase;
}

.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1.6rem;
}

.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}
.arrow {
    height: 4rem!important;
    width: 1rem;
    padding: .6rem 1.3rem;
    color: white; 
}
.arrow:hover {
    color: #189582;
}

/* About CSS */
.avatar {
    height: 20rem;
}
.narrow {
    width: 75%;
    margin: 1.5rem auto;
    padding-top: 2rem;
}

.narrow h1 {
    font-size: 2.4rem;
}
.btn-secondary{
    border-width: medium;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: .6rem 1.2rem;
    margin: 1rem;
    color:white;
    background-color: #1ebba3;
    border-color: #1ebba3;

}
.btn-secondary:hover {
    background-color: #189582;
    border-color: #189582;
}
/* skills css */

.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
}
h3 .heading  {
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.heading-underline  {
    width: 3rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto 2rem;
}


.skills {
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}
.skill-name {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2rem 0;
}
.skill-bar {
    height: 20px;
    background: #cacaca;
    border-radius: 8px;
 }
.skill-per {
    height: 20px;
    background-color: #1ebba3;
    border-radius: 8px;
    width: 0;
    position: relative;
    transition: 1s linear;
}
.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

  /* programming languages */
.fixed-background {
    position: relative;
    width: 100%;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
}
.fixed {
    background-image: url("../img/macbook-pro-2657669.png");
    z-index: -1;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-transform: translateZ(0);
        transform: translateZ(0);
    will-change: transform;
}
.dark {
    background-color: rgba(0,0,0,.75);
    color: white;
    padding: 7rem 2rem;
}
.fixed-background hr {
    margin-bottom: 2rem;
}
.fixed-background p {
    margin-top: 1.5rem;
}

/* project css */
.projects img {
    width: 100%;
    /* border-radius: 50%; */
    height: 75%;
}
blockquote .svg-inline--fa{
    color: #1ebba3;
    margin: 1rem;
}
.projects-hr {
    border-top: .05rem solid #1ebba3;
}
/* contact section */
footer{
    background-color: #40474E;
    color: white;
    padding: 2rem 0 2rem;
}
footer .logo {
    height: 3rem;
    margin: 1.5rem 0;
    color: #1ebba3;
}
footer a {
    color: white;
}
footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
    color: #1ebba3!important;
}
hr.socket{
    width: 100%;
    border-top: .2rem solid #666b71;
    margin-top: 3rem;
}

@media (max-width: 768px) { 
    .caption h1 {
        font-size: 2.3rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    .caption h3 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .narrow h1 {
        font-size: 1.5rem;
    }

    .projects img {
        /* width: 50%; */
        display: block;
        margin: 0 auto;
    }


}